<h1> this is my index file </h1>

<h2> my ansible node os is: {{ansible_os_family</h2>

<h3> my ansible node ip is: {{ansible_all_ipv4_addresses}} </h3>

<h4> my ansible node java version is: {{myjavapkgonubuntu}} </h4>