<h1> this is my index file </h1>
<h2> my ansible node os is: </h2>
<h3> my ansible node ip is: </h3>
<h4> my ansible node java version is: {{myjavapkgonubuntu}} </h4>
<h5> my ansible node is hack? </h5>